.dashboard-titulo {
  text-align: center;
  margin: 30px;
}

.table-responsive {
  width: auto;
  margin: 20px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn-dash {
  width: auto !important;
}

th {
  text-align: center !important;
  font-weight: bold;
}

td {
  font-weight: bold;
}

table {
  border-collapse: separate !important;
}

.form-select-dash {
  display: flex;
  justify-content: left;
  outline: 0;
  height: 30px !important;
}

.td-nome-cliente {
  width: 300px;
}

.td-placa {
  width: 100px;
}
.td-situacao {
  width: 150px;
}

.td-center {
  text-align: center;
}
.td-acoes {
  width: 150px;
  text-align: center;
}
