.inputLogin {
  width: 150px;
  margin: auto;
  text-align: left;
}

.container-login {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
}


.form-login {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px 3px 0 #000;
}

.btn-login {
  width: auto !important;
}

.error-msg {
  font-size: 12px;
}

.card-login {
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  box-shadow: 1px 2px 4px 1px #000;
}

.logo-aldiesil {
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
}

.card-content {
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  padding: 3rem, 2rem;
}