/* .logo-header {
  width: 100px ;
  height: auto;
} */

@media print {
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }

}

.nav-link {
  margin-right: 15px;
  font-weight: bold;
}

.d-flex {
  width: 400px;
}